{% if failed_captcha %}
    <div align="center">
        <strong class="error" id="failed-captcha-msg">You must be a robot. Try again when you pass the Turing Test. </strong>
    </div>
{%  end  %}
<div class="row">

    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <form method="post" action="{{ request.path }}" >
                    {% raw xsrf_form_html() %}

                    {% for field in form %}
                        {% set c = '' %}
                            {% if field.type not in ('BooleanField') %}
                                {% set c = c + ' input-field' %}
                            {% end %}
                            {% if field.render_kw %}
                                {% set c = c + ' ' + field.render_kw.get('col', '') %}
                            {% else %}
                                {% set c = c + ' s12' %}
                            {% end %}

                            <div class="{{ c }} col">
                                {% raw field %}
                                {% if field.type not in ('HiddenField') %}
                                    <label {% if field.errors %}data-error="{% raw field.errors[0] %}"{% end %}
                                           for="{{ field.name }}">{% raw field.label %}</label>
                                {% end %}
                            </div>
                    {% end %}
                    <div align="center" class="row">
                        <div class="col s12">
                            <div id="captcha"></div>
                            <!-- hidden submit button -->
                            <input style="display: none" id="submit" type="submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>