{% extends '../helpers/base.html' %}
{% block content %}
    <div class="chat-text row">
        <div class="col s12">
            After <a href="/signup">creating your account</a> on ID My Team and <a href="/tutorials/install-raspberry-pi">installing the raspberry pi</a> you should <a href="/profile">login to your profile</a> and open your raspberry pi web panel by clicking on your <strong>Web Panel (Local IP)</strong> - in the same network as your pi. If there is no IP showing up your pi is either not connected to the internet or you have a firewall blocking it.
        </div>
        <div align="center" class="col s12 m6">
            <img src="{{ static_url('images/tutorials/profile.png') }}"/>
        </div>
        <div class="col s12">
            After logging in with your temporary <strong>name</strong>(root) and <strong>password</strong> you will be asked to enter your server <strong>Username</strong> and <strong>Credentials</strong> for the system.
        </div>
        <div class="col s12">
            Congratulations your system is now setup. For added security please create yourself a member profile and then delete the root profile.
        </div>
        <div align="center" class="col s12 m6">
            <img src="{{ static_url('images/tutorials/root_member.png') }}"/>
        </div>
    </div>
{% end %}