conf/secret.conf
recognition-worker/helpers
*remote.conf
recognition-worker/models
!.empty
*.pyc
.env
*.sassc
*.scssc
/venv/
.idea
.venv*
.pytest*
/web/idmyteamserver/tests/files/
/web/idmyteamserver/tests/zip/
/web/idmyteam/idmyteam.egg-info/
/web/idmyteam/dist/
