# cupy-cuda100 # doesn't work for macos
# tf via https://www.pytorials.com/how-to-install-tensorflow-gpu-with-cuda-10-0-for-python-on-ubuntu/
bcrypt
chainer
chainercv
faker
image
itsdangerous
joblib
matplotlib
mock
mysqlclient
mysqlclient
numpy
opencv-python
oyaml
parameterized
premailer
pycrypto
pytest
raven
requests
rq
sentry-sdk==0.12.3
sklearn
sqlalchemy
tornado
websocket-client
wtforms
