{% load define_action %}
{% load static %}
<html>
<head>
    <!-- custom meta -->
    <title>{{ title }}</title>
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:description" content="{{ meta.description }}"/>
    <meta property="og:image" content="{% static 'images/og_logo.png' %}"/>
    <meta name="keywords" content="{{ meta.keywords }}">
    <meta name="description" content="{{ meta.description }}">
    <link rel="shortcut icon" href="{% static 'images/icon.ico' %}">

    {% block scripts %}{% endblock %}

    <!-- mobile meta -->
    <meta name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>
    <!-- jQuery -->
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <!-- Third party JavaScript -->
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,500,700&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <!-- Custom JS -->
    <script src="{% static 'js/script.js' %}"></script>
    <!-- custom JS -->
    {% block js %}{% endblock %}
</head>

{% if logged_in %}
    {% define "<li><a href='/profile' class='button'>Profile</a></li>" as menu_bar_content %}
{% else %}
    {% define "<li><a href='/login' class='button'>Log In</a></li><li><a href='/signup' class='button'>Sign Up</a></li>" as menu_bar_content %}
{% endif %}

{% define menu_bar_content|add:"<li><a href='/tutorials' class='button'>Tutorials</a></li><li><a href='/about' class='button'>About</a></li><li><a href='/contact' class='button'>Contact</a></li>" as menu_bar_content %}

{% if logged_in %}
    {% define menu_bar_content|add:"<li><a href='/logout' class='button'>Log Out</a></li>" as menu_bar_content %}
{% endif %}

<body>
<nav class="z-depth-0">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo"><img class="svg" src="{% static 'images/icon.svg' %}"/></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            {{ menu_bar_content|safe }}
        </ul>
        <ul class="side-nav" id="mobile-demo">
            {{ menu_bar_content|safe }}
        </ul>
    </div>
</nav>
<div class="content" align="center">
    {% if title %} <h2><strong>{{ title }}</strong></h2> {% endif %}
    {% if error_message or success_message %}
        <div class="row" id="alert-box">
            <div class="col s12 m12">
                <div class="card {% if error_message %}red{% else %}green{% endif %} darken-1">
                    <div class="row">
                        <div class="col s12 m10">
                            <div class="card-content white-text">
                                {% if error_message %}
                                    <i class="material-icons">warning</i> {{ error_message }}
                                {% else %}
                                    🎉 {{ success_message }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col s12 m2">
                            <i class="material-icons alert-icon" id="alert-close" aria-hidden="true">close</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% block content %}{% endblock %}
</div>
</body>
