{% extends '../helpers/base.html' %}
{% block content %}
<style>
    .row{
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
        -moz-column-gap: 10px;
        -webkit-column-gap: 10px;
        column-gap: 10px;
        width: 100%;
    }
    img {
        padding-top: 10px;
    }
</style>
    <div class="row">
        {% for src in images %}
                <img src="data:image/jpeg;base64, {{ src }}" width="100%">
        {% end %}
    </div>
{% end %}