{% extends 'helpers/base.html' %}
{% block content %}
    <div class="chat-text row">
        <div class="col s12">
            ID My Team is a system to implement custom events based on team members appearing in front of a camera.
        </div>
        <div class="col s12">
            ID My Team is a completely new way to interact with your team. Whether it's for security, efficiency or just for entertainment, ID My Team sits nicely by your entrance.
        </div>
        <div class="col s12">
            ID My Team is completely <b>open source</b>. You can find the code for the <a target="_blank" href="https://github.com/maxisme/idmyteam-server">server</a> and the <a target="_blank" href="https://github.com/maxisme/idmyteam-client">client</a>.
        </div>
        <div class="col s12">
            We use machine learning to implement off-site detection and classification of team members. This means that the system is constantly learning to produce unbeatable accuracy - a member comes in with a new pink mohawk? The system will adapt - even if you don't.
        </div>
        <div class="col s12">
            The system includes a web panel for your team to manage and classify your team members as well as a load more features.
        </div>

        <h3>Privacy</h3>
        <div class="col s12">
            Images are never stored on our server for more than a few milliseconds (unless your team would like to <a href="/storage">help our recognition models improve</a>).
        </div>
        <div class="col s12">
            Once an image has been uploaded, be it for training or recognition, the system converts it to 128 numbers used to identify the individual and the <b>image is then deleted</b> (unless you have opted to <a href="/storage">help out</a>). These 128 numbers work solely with your teams personal and private models on our server, and are completely arbitrary otherwise.
        </div>

        <div class="col s12">
            Images are never stored with any identifiable information alongside them. A unique identifier is generated that only the local system ran by your team can correlate to a team member.
        </div>

        <div class="col s12">
            And like we said before, it is completely open source so you don't take our word for it (<a target="_blank" href="https://github.com/maxisme/idmyteam-server">server</a> & <a target="_blank" href="https://github.com/maxisme/idmyteam-client">client</a>).
        </div>

        <h3>Credits</h3>
        <div align="center" class="col s12">
            Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
        </div>
    </div>
{% end %}