{% extends 'helpers/base.html' %}
{% block content %}
    <h3>Web Panel login details</h3>
    <p>
        Visit the web panel hosted on your Raspberry Pi by clicking on the IP address below. Then login using the temporary Name and Password below. After login please create a new account and delete the root user.
    </p>
    <div class="flex row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        {% if local_ip %}
                            <span class="material-icons">location_on</span>
                        {% else %}
                            <span class="material-icons">sync_disabled</span>
                        {% end %}
                        Web Panel (Local IP)
                    </span>
                    <p>
                        {% if local_ip %}
                            <a target="_blank" href='http://{{ local_ip }}:8080'>{{ local_ip }}</a><br>&nbsp;
                        {% else %}
                            <div class="error">
                                Raspberry Pi not connected to the internet.
                            </div>
                        {% end %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title"><span class="material-icons">face</span> Temporary Name</span>
                    <p>root<br>&nbsp;</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title"><span class="material-icons">vpn_key</span> Temporary Password</span>
                    <p class="break-all">{{ root_password }}</p>
                </div>
            </div>
        </div>
    </div>

    <h3>Server Credentials</h3>
    <p>
        Private server connection credentials for recognising your team (<b>do not share!</b>).
    </p>
    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        <span class="material-icons">face</span> Username
                    </span>
                    <p>
                        {{ username }}
                        <br>&nbsp;
                    </p>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        <span class="material-icons">vpn_key</span> Credentials
                    </span>
                    <p class="break-all">
                        {{ credentials }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <h3>Account</h3>

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        <span class="material-icons">show_chart</span> Statistics
                    </span>
                    <p>
                        <span class="material-icons">face</span> {{ team['num_classifications'] }} recognitions have been made.
                    </p>
                    <p>
                        <span class="material-icons">people_outline</span> Trained {{ num_members }} out of a maximum of {{ team['max_class_num'] }} members.
                    </p>
                    {% if team['allow_storage'] %}
                        <p>
                            <span class="material-icons">storage</span> Stored <a href="/profile/stored-images">{{ num_images }} team images</a> for <a href="https://idmy.team/storage">training</a>.
                            {% if num_images > 0 %}
                                    <a href="#" class="red btn material-icons" id="delete-storage">delete</a>
                            {% end %}
                        </p>
                    {% end %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        <span class="material-icons">tune</span> Preferences
                    </span>
                    <p>
                        <input {% if team['allow_storage'] %}checked{% end %} name="imagestore" type="checkbox" id="imagestore"/>
                        <label for="imagestore">Allow us to <a target="_blank" href="/storage">store images</a> for improved
                            recognition.</label>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Delete Team Model</span>
                    <a {% if not has_model %}disabled="disabled"{% else %}href="#" id="delete-model"{% end %} class="btn-floating halfway-fab red">
                        <i class="material-icons {% if not has_model %}disabled{% end %}">delete</i>
                    </a>
                    <p>Deleting your model is irreversible and you will need to train your team again.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Delete Account</span>
                    <a href="#" id="delete-account" class="btn-floating halfway-fab red">
                        <i class="material-icons {% if not has_model %}disabled{% end %}">delete</i>
                    </a>
                    <p>
                        All your data will be permanently deleted.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>
{% end %}


{% block js %}
    <script>
        $(document).ready(function () {
            $("#imagestore").click(function () {
                $.post("/toggle-storage", {
                    '_xsrf': '{{ xsrf_token }}'
                }).fail(function(e){
                    alert(e);
                });
            });

            $("#delete-model").click(function () {
                if (confirm('Are you sure?')) {
                    $.post("/delete-model", {
                        '_xsrf': '{{ xsrf_token }}'
                    });
                }
            });

            $("#delete-account").click(function () {
                if (confirm('Are you sure? This is irreversible!')) {
                    $.post("/delete-account", {
                        '_xsrf': '{{ xsrf_token }}'
                    });
                    location.reload();
                }
            });

            $("#delete-storage").click(function () {
                $.post("/delete-storage", {
                    '_xsrf': '{{ xsrf_token }}'
                });
                location.reload();
            });
        });
    </script>
{% end %}