{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="chat-text row">
        <h3>Stats</h3>
        <div class="col s12">
            The first thing you should do is analyse your stats.
        </div>
        <div class="col s12">
            The most common reason for a slow response is your network. See the <strong>Upload Speed</strong> which should
            be less than 0.2 seconds if it is not and you are connected over wifi please connect over ethernet.
        </div>
        <div class="col s12">
            The next most common reason for a slow response is your Script. See the <strong>Custom Script Speed</strong>.
            Unfortunately we are unable to help with this being slow, although it is likely because of the network too.
        </div>
    </div>
{% endblock %}