{% extends 'base.html' %}
{% block content %}
    <div class="chat-text row">
        <div class="col s12">
            If you want the system to start recognising an UNKNOWN team member you can create the member on the members page
            (<span class="material-icons">person_add</span>) of your web panel and instead of adding images of the member on
            the Training page go back to the Classify page where you will now be able to class the individual by entering
            their name under the corresponding images.

            After you have done that a minimum of 10 times you can now go back to the train page by clicking the <span
                class="material-icons">face</span> icon next to the team member on the members page and submitting (<span
                class="material-icons">people_outline</span>).
        </div>
    </div>
{% endblock %}