.nav-wrapper
  a
    color: $black
    font-weight: 800
    font-family: monospace

    &:hover
      font-weight: 200
  background-color: $feature1
  padding-bottom: 10px
  border-bottom: $BORDER

  li
    border-left: $BORDER

  .brand-logo
    height: 100%

    svg
      height: 100%
      position: relative
      padding: 5px 10px

      path
        fill: $black