{% extends 'helpers/base.html' %}
{% block content %}
    <h3>
        Liability
    </h3>
    <div class="chat-text">
        By signing up and using our product you are agreeing that we are not liable for any:
        <li>
            Data Loss
        </li>
        <h3>
            Identifiable Information we store and collect
        </h3>
        <li>
            IP address'
        </li>
        <li>
            Email'
        </li>
        <h3>
            Security and Privacy
        </h3>

        All information is stored encrypted in our database.

        At anytime if you decide you do not want data to be stored you can delete your account which in turn deletes all
        models of your team and any data on the system linked to you and your team being permanently removed.

        We do not perform external backups of team data so in the extremely unlikely event of data loss your team will have
        to be retrained. - we do this because we do not want to put your trust in us on any third parties.

        <h3>Terms Of Use</h3>

        <li>
            You agree to not use this system for surveillance and time tracking of employees or people.
        </li>
        <li>
            You MUST have permission from ALL employees to use this product. Although this is not our responsibility if you
            do not.
        </li>
        <br>
        If you go against any of these rules we have the right to <strong>terminate your account</strong>.
        In the case of any complaints from an employee or otherwise we will file a dispute to your email in which you sign
        up. No reply within 10 working days will result in an account termination and a permanent ban.
    </div>
{% endblock %}