Django
django-captcha
django-ranged-response
django-recaptcha
django-simple-email-confirmation
python-dotenv
argon2-cffi
bcrypt
psycopg2-binary
opentelemetry-sdk
opentelemetry-ext-django
opentelemetry-ext-jaeger